@use './_variables.scss' as v;
@use 'sass:math';

%focus-style {
    opacity: 1;
    outline: 2px dashed v.$outline-color;
    outline-offset: 2px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 5%;
    // max-width: 1200px;
    // width: 100%;
}

h1 {
    text-align: center;
}

.carousel-container {
    align-items: center;
    display: flex;
    // flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    // width: 600px;

    .carousel-item {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: v.$gap;
        width: 100%;

        img {
            margin-right: v.$gap;
            max-width: 50%;
        }

        p {
            margin: 0;
        }
    }
}

.slick-container {
    margin: 0 auto;
    width: 600px;

    .slick-slider {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .slick-list {
        width: 100%;

        .slick-slide > div > div {
            align-items: center;
            display: flex !important;
            flex-direction: row;
            justify-content: center;
            margin-bottom: v.$gap;
            width: 100%;
        }

        img {
            margin-right: v.$gap;
            max-width: 50%;
        }
    }

    .slick-prev,
    .slick-next {
        height: 100%;
        width: v.$controls-width;

        &::before {
            color: v.$black;
            opacity: .5;
        }

        &:focus-visible {
            @extend %focus-style;
        }
    }

    .slick-dots li {
        &.slick-active button {
            opacity: 1;
        }

        button {
            border-radius: 50%;
            background: v.$black;
            height: calc(#{v.$controls-width} / 2);
            opacity: .5;
            width: calc(#{v.$controls-width} / 2);

            &:before {
                font-size: 0;
            }

            &:focus-visible {
                @extend %focus-style;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    button {
        transition: all .2s ease-out;

        &::before {
            transition: all .2s ease-out;
        }
    }
}